@charset "utf-8";
/* CSS Document */

.loc{display:none;}
body{background:#FAFAFA;font-size:12px;}
body a:hover{color:#c6975e;}
.bread{padding:25px 0;color:#999;font-size:12px;}
.bread a{color:#999;font-size:12px;padding:0 0 0 10px;}

.ban{ width:500px; height:600px; position:relative; overflow:hidden;z-index:-1\9;}
.ban2{ width:500px; height:500px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:500px; height:500px;background:#fff;text-align:center;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:430px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:500px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:80px; height:80px; margin-right:5px; padding:1px;}
.num ul li.on{ border:1px solid red; padding:0;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:40px; margin-right:20px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:40px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:220px; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:220px; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; top:0; display:none;z-index:998;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:999;text-align:center;}
.pop_up_xx{ width:40px; height:40px; position:absolute; top:-40px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left;}

.top-r{width:620px;background:#fff;padding:20px 30px;font-family:"Microsoft Yahei";height:550px;}
.top-r>p{font-size:20px;font-family:"Microsoft Yahei";padding:0 0 15px 0;}
.top-r .dt span{font-size:12px;display:inline-block;padding:0 20px 10px 0;font-family:"Microsoft Yahei";}
.top-r>span{padding:0 0 20px 0;display:block;}
.top-r>span a{color:#C00;text-decoration:underline;}
.top-r>div{height:40px;padding:6px 0;}
.top-r>div p{display:inline-block;width:60px;font-size:12px;color:#666;}
.top-r .price{font-size:24px;border-top:1px dotted #ccc;}
.top-r .price span{display:inline-block;padding:0 0 0 10px;color:#6662;}
.top-r .price .cline{text-decoration:line-through;}
.top-r .sales a{font-size:12px;}
.top-r .type{line-height:52px;height:52px;}
.top-r .type span,.top-r .type a{display:inline-block;width:50px;height:50px;margin-right:20px;}
.top-r .type span{border:1px solid #fff;}
.top-r .type a.value1{background:url(../images/ss1.jpg) no-repeat center center;}
.top-r .type a.value2{background:url(../images/ss2.jpg) no-repeat center center;}
.top-r .no input{height:22px;border:1px solid #999;width:80px;text-align:center;}
.top-r .no{line-height:22px;padding:20px 0 0 0;border-top:1px dotted #ccc;}
.top-r .no+span .red{color:#c00;}
.top-r .no+span{height:18px;padding-left:50px;}
.top-r .tocart a{display:inline-block;width:174px; height:44px;text-align:center;line-height:44px;border:1px solid #ccc;margin:0 20px 0 0;font-size:18px;font-family:"Microsoft Yahei"}
.top-r .tocart .red{font-size:20px;background:#c00;color:#fff;}

.yScrollList{width:1198px;height:263px;border:1px solid #dcdcdc;background:#ffffff;margin:25px auto 0;}
.yScrollListTitle{width:100%;height:38px;line-height:38px;border-bottom:1px solid #dcdcdc;}
.yScrollListTitle h1{cursor:pointer;font-size:16px;background:#fff;color:#666666;height:38px;border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;float:left;position:relative;left:-1px;width:110px;text-align:center;}
.yScrollListTitle h1.ytitleh12{left:-2px;z-index:1;}
.yScrollListTitle h1.yth1click{height:42px;border-top:2px solid #e9630a;top:-5px;z-index:1;}
.yScrollListIn{width:100%;height:224px;position:relative;}
.yScrollListInList{display:none;width:1138px;height:224px;position:absolute;padding:0 30px;left:0;top:0;overflow:hidden;}
.yScrollListInList .yScrollListbtn{cursor:pointer;position:absolute;width:13px;height:19px;top:96px;background:url(../images/btnys.png) no-repeat 0 0;}
.yScrollListInList .yScrollListbtnr{background-position:-14px 0;right:5px;}
.yScrollListInList .yScrollListbtnl{left:5px;}
.yScrollListInList ul{width:2238px;height:224px;position:absolute;top:0;left:30px;overflow:hidden;}
.yScrollListInList ul li{width:160px;height:224px;float:left;margin-right:84px;}
.yScrollListInList ul li img{width:140px;height:140px;display:block;margin-left:10px;margin-top:12px;z-index:1;}
.yScrollListInList ul li p{text-align:center;font-size:12px;color:#666666;line-height:18px;padding:7px 10px 0;width:140px;height:36px;overflow:hidden;}
.yScrollListInList ul li p:hover{color:#e9630a;text-decoration:underline;}
.yScrollListInList ul li span{color:#e9630a;font-size:12px;text-align:center;display:block;line-height:24px;}

.ad{padding:10px 0 0 0;width:236px;border:#ccc 1px solid;margin:25px 0 0 0;}
.ad span{font-size:14px;line-height:24px;padding:0 0 0 10px;}
.ad img{height:40%;width:40%;}
.ad li{text-align:center;width:212px;padding:20px 12px;background:#fff;}
.ad li p{line-height:18px;color:#666;text-align:left;font-size:12px;}
.ad li img+p+p{color:#F90;font-size:14px;font-weight:bold;}
.ad li img+p+p+p{color:#999;}

.detailr{width:942px;min-height:1816px;}

.other{background:#fff;margin:30px 0;}
.other span{font-size:14px;padding:10px 10px;display:block;}
.other li{float:left;text-align:center;width:224px;margin:0 20px 0 0;padding:0 0 5px 0;}
.other li.last{margin-right:0;}
.other li p{line-height:24px;color:#666;}
.other li img+p+p{color:#F90;}
.other li img+p+p+p{color:#999;}
.other li img{height:45%;width:45%;}

.current{background:url(../images/right-icon.gif) no-repeat bottom right;border:1px solid #A10000!important;transition:none;-moz-transition:none;-webkit-transition:none;-o-transition:none;}
.baseBg{background-image:url(../images/base_bg.png);background-repeat: no-repeat;}
.deleteBg{background-image:url(../images/deleteBg.jpg);background-repeat: no-repeat;}
.J-shoping{height:34px;position:fixed;right:45px;bottom:0px;z-index:900;overflow:visible!important;}
*html .J-shoping{position:absolute;top:expression(eval(document.documentElement.scrollTop));margin:500px 0 0 0;}
.J-shoping-item{position:relative;padding:0px 6px;height:34px;}
.J-shoping-pos{position:absolute;width:6px;height:34px;z-index:920;top:-3px;}
.J-L-ico{background-position:-55px -84px;left:0px;}
.J-R-ico{background-position:-66px -84px;right:0px;}
.J-shoping-main{position:relative;}
.J-shoping-title{height:27px;cursor:pointer;line-height:27px;padding:0px 10px 4px 10px;position:relative;z-index:920;background:url(../images/bg5.png) repeat-x 0px 0px;}
.J-shoping-title .J-go{color:#fff;display:block;float:left;}
.J-shoping-title .J-go em{display:inline-block;width:17px;height:14px;vertical-align:middle;margin:-2px 10px 0px 0px;margin-top:0px\9;background-position:-56px -124px;}
.J-shoping-num{width:14px;height:14px;background-position:-28px -88px;text-align:center;overflow:hidden;line-height:14px;display:block;position:absolute;left:80px;top:2px;color:#fff;font-size:10px;}
.J-shoping-body{width:255px;display:none;border:solid 1px #d6d6d6;box-shadow:0px 0px 5px #8b8b8b;behavior: url(js/pie.htc);padding:10px 10px 35px 10px;position:absolute;bottom:5px;left:0px;background:url(../images/p-bg.png) repeat;z-index:910;}
.J-shoping-list{padding:5px;color:#999;border:solid 1px #e3e3e3;background:#fff;height:50px;margin-bottom:10px;position:relative;}
.J-shoping-list-remove{background:#ffd2d3;}
.J-shoping-list img{float:left;}
.J-shoping-list-a{float:right;width:185px;}
.J-shoping-list-a p{height:25px;line-height:25px;}
.J-shoping-list-a p em{color:#0363BD;font-weight:bold;margin-right:3px;}
.J-shoping-close{position:absolute;cursor:pointer;right:5px;top:5px;width:11px;height:11px;background-position:-32px -147px;overflow:hidden;}
.J-shoping-close:hover{background-position:-41px -147px;}
.J-shoping-buy{height:26px;}
.J-shoping-buy span{float:left;color:#555;}
.J-shoping-buy a{width:112px;height:26px;background-position:-3px -249px;display:block;float:right;}
.J-shoping-buy a:hover{background-position:-3px -277px;}
.J-shoping-px{width:275px;border:solid 1px #d6d6d6;display:none;box-shadow:0px 0px 5px #8b8b8b;behavior: url(js/pie.htc);height:28px;position:absolute;bottom:5px;left:0px;background:url(../images/p-bg.png) repeat;z-index:905;}
.J-shoping-mx{width:113px;position:absolute;left:-3px;top:-3px;height:3px;background-position:-4px -187px;z-index:921;}
.J-shoping-small{width:119px;}
#floatOrder{width:50px;height:50px;padding:2px;background:#fff;border:solid 2px #c6975e;overflow:hidden;position:absolute;z-index:890;}
.Q-online{width:28px;height:20px;display:block;background-position:-78px -130px;position:fixed;right:10px;bottom:13px;}
*html .Q-online{position:absolute;top:expression(eval(document.documentElement.scrollTop));margin:500px 0 0 0;}
#U-attion{display:block;width:120px;padding-right:20px;height:28px;background:#eee;line-height:28px;text-align: center;border:solid 1px #d0d0d0;color:#181818;position:absolute;left:-145px;top:-2px;}
#U-attion em{display:inline-block;vertical-align:middle;margin:-2px 5px 0px 0px;margin-top:0px\9;width:16px;height:15px;background-position:-65px -47px;}
#U-attion span{display:inline-block;width:22px;height:11px;background-position:-65px -32px;position:absolute;right:5px;top:2px;}
a.dis-click{background:#fff;color:#cdcdcd;cursor:default;border:1px solid #ccc;}