@charset "utf-8";
/* CSS Document */

img{border:none;}
li,ul,ol{list-style:none;}
a{text-decoration:none;color:#959595;font-size:14px;font-family:"SimSun";}
body{font-size:14px;font-family:"SimSun";}
span{font-size:14px;font-family:"Microsoft Yahei";}
p{font-size:14px;font-family:"SimSun";}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.clear{height:auto;overflow:hidden;zoom:1;}
.fr{float:right;}
.fl{float:left;}
.contents{width:320px;margin:0 auto;}

body{background:#F7F7F7;}
.register{background:#fff;margin-top:40px;padding:20px 200px;height:500px;border:1px solid #F5F5F5;box-shadow:0 4px 20px rgba(0,0,0,0.1);}
.register h1 a{display:inline-block;height:100px;width:300px;background:url(../images/head_03.png) no-repeat center center;text-indent:-9999px;}
.register h2{font-size:28px;text-align:center;font-family:"Microsoft Yahei";padding:10px 0;}
input{font-size:14px;color:#999;}
#input1{width:278px;height:34px;margin:20px 0 5px 0;padding:0 0 0 40px;border:1px solid #ccc;background:url(../images/registericon_03.gif) no-repeat left center;}
#input2{width:170px;height:34px;margin:5px 0 5px 0;padding:0 0 0 40px;border:1px solid #ccc;background:url(../images/registericon_08.gif) no-repeat left center;}
input[type="password"]{width:278px;height:34px;margin:5px 0 5px 0;padding:0 0 0 40px;border:1px solid #ccc;background:url(../images/registericon_10.gif) no-repeat left center;}
input[type="submit"]{width:320px;height:40px;border:none;background:#999;margin:5px 0;border-radius:3px;color:#fff;font-size:14px;}
input[type="button"]{width:97px;height:36px;border:1px solid #ccc;margin-left:10px;background:#fff;}
.error{color:red;}
form p{font-size:12px;line-height:18px;height:18px;}
.register>p{text-align:center;padding:10px 0;font-size:6px;color:#666;font-size:12px;}

.footer-bottom{background:#272727;padding:10px 0 0 0;margin-top:40px;}
.footer-bottom p{text-align:center;line-height:28px;font-size:12px;color:#666;padding:0 0 20px 0;}
.footer-bottom h6{line-height:28px;font-size:12px;color:#666;display:inline-block;float:left;}
.footer-bottom a{line-height:28px;font-size:12px;color:#666;padding:0 10px;float:left;}